@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background:rgb(82 82 91);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(39 39 42);
  border-radius: 8px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */